<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.tuwien.mmue_sb10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/escape"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/escape_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMUESB10">
        <activity
            android:name=".FinishGameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".FinishStageActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".OutroActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighscoreActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".SubNewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".SubContinueActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MMUESB10" />
    </application>

</manifest>